@using RR.Blazor.Components.Core
@using RR.Blazor.Enums
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop

<div class="absolute top-4 right-4 z-10">
    <RButton Icon="code" 
             Variant="VariantType.Secondary" 
             Mode="ButtonMode.Outline"
             IconOnly="true"
             Size="SizeType.Small"
             OnClick="OpenGitHub" />
</div>

@code {
    [Parameter] public string FileName { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }
    
    private string githubBaseUrl = "https://github.com/RaRdq/RR.Blazor/blob/master/TestPages/Demos/";
    
    private async Task OpenGitHub()
    {
        if (!string.IsNullOrEmpty(FileName))
        {
            var url = $"{githubBaseUrl}{FileName}";
            await JSRuntime.InvokeVoidAsync("window.open", url, "_blank");
        }
    }
}