@use '../abstracts' as *;

@include generate-design-classes;

.design-mode {
  &-interactive {
    cursor: pointer;
    user-select: none;
  }
  
  &-disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
  }
}