@use '../abstracts' as *;

.breadcrumbs {
  &-collapsible {
    @include responsive-max(sm) {
      ol {
        li {
          display: none;
          
          &:first-child,
          &:last-child {
            display: flex;
          }
          
          &:first-child::after {
            content: '...';
            margin: 0 var(--space-2);
            color: var(--color-text-subtle);
            font-weight: var(--font-normal);
            line-height: 1;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}