@* RMessageModal - Simple message display modal *@

<div class="message-modal">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <div class="message-modal__icon message-modal__icon--@Variant.ToString().ToLower()">
            <i class="material-symbols-rounded">@Icon</i>
        </div>
    }
    
    <div class="message-modal__content">
        @if (!string.IsNullOrEmpty(Message))
        {
            <div class="message-modal__message">
                @((MarkupString)Message)
            </div>
        }
        else
        {
            @ChildContent
        }
    </div>
</div>

@code {
    [Parameter] public string Message { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "info";
    [Parameter] public ModalVariant Variant { get; set; } = ModalVariant.Info;
    [Parameter] public RenderFragment ChildContent { get; set; }
}