@* RMessageModal - Simple message display modal *@
@using RR.Blazor.Components.Base
@inherits RComponentBase

<div class="message-modal">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <div class="message-modal-icon message-modal-icon-@Variant.ToString().ToLower()">
            <i class="material-symbols-rounded">@Icon</i>
        </div>
    }
    
    <div class="message-modal-content">
        @if (!string.IsNullOrEmpty(Message))
        {
            <div class="message-modal-message">
                @((MarkupString)Message)
            </div>
        }
        else
        {
            @ChildContent
        }
    </div>
</div>

@code {
    [Parameter] public string Message { get; set; } = "";
    [Parameter] public string Icon { get; set; } = "info";
    [Parameter] public VariantType Variant { get; set; } = VariantType.Info;
    [Parameter] public EventCallback<object> OnDataChanged { get; set; }
    [Parameter] public object Data { get; set; }
}