/* Error: From line 7, column 1 of Styles/utilities/_container.scss: 
 *   ╷
 * 7 │ .container {
 *   │ ^^^^^^^^^^^
 *   ╵
 * You may not @extend selectors across media queries.
 *     ,
 * 243 |   .sm\:container { @extend .container; }
 *     |                    ^^^^^^^^^^^^^^^^^^
 *     '
 *   Styles/utilities/_container.scss 243:20  @content
 *   Styles/abstracts/_mixins.scss 55:7       responsive-max()
 *   Styles/utilities/_container.scss 242:1   @forward
 *   Styles/utilities/_index.scss 12:1        @use
 *   Styles/main.scss 17:1                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 7, column 1 of Styles/utilities/_container.scss: \a   \2577 \a 7 \2502  .container {\d\a   \2502  ^^^^^^^^^^^\a   \2575 \aYou may not @extend selectors across media queries.\a     \2577 \a 243 \2502    .sm\\:container { @extend .container; }\d\a     \2502                     ^^^^^^^^^^^^^^^^^^\a     \2575 \a   Styles/utilities/_container.scss 243:20  @content\a   Styles/abstracts/_mixins.scss 55:7       responsive-max()\a   Styles/utilities/_container.scss 242:1   @forward\a   Styles/utilities/_index.scss 12:1        @use\a   Styles/main.scss 17:1                    root stylesheet";
}
